.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
}

.headerImg {
  width: 100%;
  height: 750px;
  margin-top: -58px;
  object-fit: cover;
  position: absolute;
}

.postImg {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
